# For more information on ignoring files and folders on prettifying process, visit: https://prettier.io/docs/en/ignore.html

############################
# npm, yarn, pnpm
############################

node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

############################
# Build output
############################
/build
/code_documentation
/coverage_report
/dist